/*

Adapted for Snowflake to be used in conjunction with Stylebot by Prathamesh Nimkar.
Using Martin Guindon's code from snowflake_solarized_theme.css as a base, Prathamesh has created this warm theme.

*/

/* Worksheet pane */
div.CodeMirror-lines {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #F5F4F4;
    background-color: #424438;
    font-size: 12px;
}

div.CodeMirror-gutter.CodeMirror-linenumbers {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #000000;
    background-color: #9B8F70;
    font-size: 12px;
}

div.CodeMirror-scroll {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #F5F4F4;
    background-color: #424438;
    font-size: 12px;
}

div.styles__sql-worksheet-context-setting-context-info___j7Af_ {
    background-color: #424438;
  }

  div.style__tab___2yjU4.style__tab--active___3HnNE {
    color: #F5F4F4;
    background-color: #424438;
  }

span.styles__sql-worksheet-context-setting-context-label-min___3rf4F {
  color: #F5F4F4;
}

form.styles__form___2zJyY {
  background-color: #424438;
}

div.react-selectize-search-field-and-selected-values {
  background-color: #424438;
}

div.menu-item_14igu14.menu-item-iconized_1qcm029 {
    background-color: #424438;
  }

/* Forked from Martin's code */
/* Code Mirror changes */
div.CodeMirror-linenumber.CodeMirror-gutter-elt {
    color : #000000;
    background-color: #9B8F70;
  }

.cm-keyword {
    color: #55D7B1;
}

.cm-number {
    color: #ECBE68;
}

.cm-comment {
    color: #F3BFBE;
    font-style: italic;
}

.cm-string {
    color: #93B6F6;
}

.cm-bracket {
    color: #AB574D;
}

.CodeMirror-matchingbracket {
    color: #AB574D;
}

.CodeMirror-nonmatchingbracket {
    color: #AB574D;
}

/* Cursor */

.CodeMirror-cursor {
    border-left: 1px solid rgb(247, 10, 10);
}

/* End of part taken from Martin's code */

/* Color scheme for SQL Results */

div.DataTable__data-table___2NG6O {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.styles__sql-result___2LXVF {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.sql-result-view-tab.tab_n5m2fc-o_O-RESULTS_pog3hg-o_O-active_19mr5mm {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.sql-result-view-tab.tab_n5m2fc-o_O-DATA_PREVIEW_1mqc21n {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

img.openHistoryArrow_sj5ub1 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

span.openHistoryText_pgfqnw {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.styles__sql-worksheet-result-header-text-id___20frh {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.styles__sql-worksheet-result-header-text___ZNJak {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

span.BarLine__bar-line-title___1jr7R {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.BarLine__bar-line-item___19Zdm.BarLine__totalExecDuration___CswuJ {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    background-color: #FFFFFF;
    font-size: 12px;
}

div.TableColumnConfig__dropdownToggle___3p81U {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.styles__sql-worksheet-result-header-item___526y8 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

input.DataTable__input___jNDIA {
    color: #FFFFFF;
    background-color: #424438;
    opacity: 1.0;
}

div.fixedDataTableCellLayout_wrap3.public_fixedDataTableCell_wrap3 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #372E31;
    font-size: 12px;
}

div.SortableHeaderCell__headerTextLeft___2R5V6 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #C36E4F;
    background-color: #372E31;
    font-size: 15px;
    font-weight: bold;
}

div.SortableHeaderCell__headerTextRight___7-yps {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #C36E4F;
    background-color: #372E31;
    font-size: 15px;
    font-weight: bold;
}

div.public_fixedDataTableCell_cellContent {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #372E31;
    font-size: 12px;
}

div.sql-result-view-tab.tab_n5m2fc-o_O-DATA_PREVIEW_1mqc21n-o_O-active_19mr5mm {
  color: #FFFFFF;
}

div.sql-result-view-tab.tab_n5m2fc-o_O-RESULTS_pog3hg {
  color: #FFFFFF;
}

div div div {
    color: #FFFFFF;
}

div.step-toggle-step {
  color: #000000;
}

div.__react_component_tooltip.type-light {
  background-color: #9B8F70;
}

/* Color scheme for Metadata */

input.styles__input-bar___3oEys {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.styles__object-tree___1H2pF {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.styles__tree-node-header___3V6cf {
    color : #FFFFFF;
    background-color: #424438;
  }

  li.styles__tree-node-type-header___3ieIq {
    color : #FFFFFF;
    background-color : #424438;
  }

  div.styles__tree-node-header-buttons___3dQ-v {
    color : #424438;
  }

div.styles__explorer-info___OW7yP {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #424438;
    font-size: 12px;
}

div.styles__column-content___2qAUS {
  line-height: 1.45em;
  color-profile: sRGB;
  rendering-intent: auto;
  color: #FFFFFF;
  background-color: #424438;
  font-size: 12px;
}

input.styles__input-bar___3oEys {
    color : #FFFFFF;
    background-color: #424438;
  }

div.styles__column-name___28x8D {
    color : #FFFFFF;
    background-color: #424438;
}

div.styles__column-type___5tx_K {
    color : #FFFFFF;
    background-color: #424438;
}

div div img {
  background-color: #89826D;
}

div.menu-item_14igu14.menu-item-default_16c4pdc {
  background-color: #424438;
}

div.styles__column-header___20jHA {
  background-color: #424438;
}

div.styles__search-scope___2TtD0 {
  background-color: #424438;
}

div.BarLine__bar-line___3kOKp {
    background-color: #FFFFFF;
  }

/* History */
div.styles__history-header___1mQbl {
    color: #FFFFFF;
    background-color: #000000;
  }

  span.styles__history-title___sbUI4 {
    color: #FFFFFF;
    background-color: #000000;
  }

  div.fixedDataTableCellLayout_columnResizerContainer {
    color: #FFFFFF;
    background-color: #000000;
  }


