/*

Adapted for Snowflake to be used in conjunction with Stylebot by Martin Guindon and Prathamesh Nimkar.
Using Martin's code from snowflake.css as a base, I've created this BnW theme.

*/

/* Worksheet pane */
div.CodeMirror-lines {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.CodeMirror-gutter.CodeMirror-linenumbers {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.CodeMirror-scroll {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

/* Forked from Martin's code */
/* Code Mirror changes */
div.CodeMirror-linenumber.CodeMirror-gutter-elt {
    color : #FFFFFF;
    background-color: #000000;
  }

.cm-header {
  color: #FFFFFF;
}

.cm-quote {
    color: #FFFFFF;
}

.cm-keyword {
    color: #FFFFFF;
}

.cm-atom {
    color: #FFFFFF;
}

.cm-number {
    color: #FFFFFF;
}

.cm-def {
    color: #FFFFFF;
}

.cm-variable {
    color: #FFFFFF;
}

.cm-variable-2 {
    color: #FFFFFF;
}

.cm-variable-3, .cm-type {
    color: #FFFFFF;
}

.cm-property {
    color: #FFFFFF;
}

.cm-operator {
    color: #FFFFFF;
}

.cm-comment {
    color: #FFFFFF;
    font-style: italic;
}

.cm-string {
    color: #FFFFFF;
}

.cm-string-2 {
    color: #FFFFFF;
}

.cm-meta {
    color: #FFFFFF;
}

.cm-qualifier {
    color: #FFFFFF;
}

.cm-builtin {
    color: #FFFFFF;
}

.cm-bracket {
    color: #FFFFFF;
}

.CodeMirror-matchingbracket {
    color: #FFFFFF;
}

.CodeMirror-nonmatchingbracket {
    color: #FFFFFF;
}

.cm-tag {
    color: #FFFFFF;
}

.cm-attribute {
    color: #FFFFFF;
}

/* Cursor */

.CodeMirror-cursor {
    border-left: 1px solid #FFFFFF;
}

/* End of part taken from Martin's code */

/* Color scheme for SQL Results */

div.DataTable__data-table___2NG6O {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.styles__sql-result___2LXVF {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.sql-result-view-tab.tab_n5m2fc-o_O-RESULTS_pog3hg-o_O-active_19mr5mm {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.sql-result-view-tab.tab_n5m2fc-o_O-DATA_PREVIEW_1mqc21n {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

img.openHistoryArrow_sj5ub1 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

span.openHistoryText_pgfqnw {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.styles__sql-worksheet-result-header-text-id___20frh {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.styles__sql-worksheet-result-header-text___ZNJak {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

span.BarLine__bar-line-title___1jr7R {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.BarLine__bar-line-item___19Zdm.BarLine__totalExecDuration___CswuJ {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    background-color: #FFFFFF;
    font-size: 12px;
}

div.TableColumnConfig__dropdownToggle___3p81U {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.styles__sql-worksheet-result-header-item___526y8 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

input.DataTable__input___jNDIA {
    color: #FFFFFF;
    background-color: #000000;
    opacity: 1.0;
}

div.fixedDataTableCellLayout_wrap3.public_fixedDataTableCell_wrap3 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.SortableHeaderCell__headerTextLeft___2R5V6 {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 15px;
	font-style: bold;
}

div.SortableHeaderCell__headerTextRight___7-yps {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 15px;
	font-style: bold;
}

div.public_fixedDataTableCell_cellContent {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

/* Color scheme for Metadata */

input.styles__input-bar___3oEys {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #FFFFFF;
    font-size: 12px;
}

div.styles__object-tree___1H2pF {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.styles__tree-node-header___3V6cf {
    color : #FFFFFF;
    background-color: #000000;
  }

  li.styles__tree-node-type-header___3ieIq {
    color : #FFFFFF;
    background-color : #000000;
  }

  div.styles__tree-node-header-buttons___3dQ-v {
    color : #000000;
  }

div.styles__explorer-info___OW7yP {
    line-height: 1.45em;
    color-profile: sRGB;
    rendering-intent: auto;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 12px;
}

div.styles__column-content___2qAUS {
  line-height: 1.45em;
  color-profile: sRGB;
  rendering-intent: auto;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 12px;
}

input.styles__input-bar___3oEys {
    color : #FFFFFF;
    background-color: #000000;
  }

div.styles__column-name___28x8D {
    color : #FFFFFF;
    background-color: #000000;
}

div.styles__column-type___5tx_K {
    color : #FFFFFF;
    background-color: #000000;
}

/* History */
div.styles__history-header___1mQbl {
    color: #FFFFFF;
    background-color: #000000;
  }

  span.styles__history-title___sbUI4 {
    color: #FFFFFF;
    background-color: #000000;
  }

  div.fixedDataTableCellLayout_columnResizerContainer {
    color: #FFFFFF;
    background-color: #000000;
  }